!!!
%html(lang="en" data-framework="hyalite")
  %head
    %meta{charset:"utf-8"}
    %title= @slide_name
    %link{rel:"stylesheet", href:"#{@assets_path}/css/application.css"}
    %link{rel:"stylesheet", href:"#{@assets_path}/#{@slide_name}/css/custom.css"}
    %link{rel:"stylesheet", href:"#{@assets_path}/css/highlight.css"}

  %body
    %section.gibier

    :javascript
      window.slideName = '#{@slide_name}'
      window.ghPages = true;
      window.assetsPath = '#{@assets_path}/#{@slide_name}';

    %script{type:"text/javascript", src:"#{@assets_path}/#{@slide_name}/javascripts/application.js"}
